.apt-pricing-table-container {
    position: relative;
    overflow: hidden;

    &:hover{
        background: #ffff;
        box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
        transition: .5s;
        -webkit-box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    }

    *, *:before, *:after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }  
    // border: solid;
    font-size: 16px;
    color: #000;
    background-color: #F6F5F5;

    .apt-pricing-price, .apt-pricing-header, .apt-features, .apt-button-box, .items, .apt-features .items li, .items li span, .apt-features-top-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    // golbal css
    // .apt-pricing-header {
    //     // padding: 0px 20px;
    //     .title {
    //         font-size: 24px;
    //         padding: 0;
    //         margin: 0;
    //         line-height: 1.2;
    //         font-weight: 600;
    //     }
    //     .decription {
    //         margin: 9px 0px 0px 0px;
    //     }
    // } 

    .apt-pricing-header {
        padding: 30px;
        .title {
            width: 100%;
            text-align: center;
            font-size: 24px;
            padding: 0;
            margin: 0;
            line-height: 1.2;
            font-weight: 600;
            &::after {
                content: "";
                display: block;
            }
        }
        .decription {
            margin: 9px 0px 0px 0px;
        }
    }

    .apt-pricing-price {
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: 13px;
        }
    }
    .ribbon {
        background: #61ce70;
        color: white;
        font-size: 13px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        position: absolute;
        top: 27px;
        text-transform: uppercase;
        p {
            line-height: 2;
            margin: 0;
            padding: 3px;
        }
    }
    .ribbon-right {
        right: -82px;
        transform: rotate(45deg);
    }
    .ribbon-left {
        left: -82px;
        transform: rotate(-45deg);
    }
    .apt-center-icon {
        text-align: right;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .apt-pricing-price {
        padding: 40px 0 15px 0;
        font-weight: 800;
        color: #555;
        // background: #000;
        .currency, .freaction-part {
            font-size: 18px;
            line-height: 1;
            align-self: flex-start;
        }
        .currency {
            margin-right: 3px;
        }
    
        .freaction-part {
            margin-left: 3px;
        }
        .price {
            font-size: 65px;
            line-height: 0.8;
        }
        .original-price {
            margin-right: 15px;
            align-self: end;
            text-decoration: line-through;
        }
        .period {
            width: 100%;
            display: block;
            text-align: center;
            margin-top: 12px;
            font-weight: 400;
            order: 2;
        }
    }
    .apt-center-icon {
        svg {
            width: 60px;
        }
    }
    .apt-features {
        // padding: 20px 0;
        // background: red;
        .items {
            width: 100%;
            flex-direction: column;
            align-items: initial;
            .apt-features-top-icon {
                color: #fff;
                font-size: 61px;
                margin: 20px 0px 5px 0px;
                // margin: 10px auto;
            }
            li {
                list-style: none;
                position: relative;
                padding-top: 20px;
                padding-bottom: 20px;
                // color: #606060;
                + li:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
            .apt-features-icon {
                margin-right: 10px;
            }
        } 
    }

    .apt-additional-text {
        text-align: center;
        p {
            padding: 10px;
            margin: 0;
        }
    }

    .apt-button-box {
        padding: 20px 0;
        .apt-button {
            display: inline-block;
            line-height: 1;
            background-color: #61CE70;
            font-size: 15px;
            padding: 12px 24px;
            border-radius: 3px;
            color: #fff;
            fill: #fff;
            text-align: center;
            transition: all .3s;
            text-decoration: none;
            &.apt-button-size-md {
                font-size: 16px;
                padding: 15px 30px;
                border-radius: 4px;
            }
            &.apt-button-size-xs {
                font-size: 13px;
                padding: 10px 20px;
                border-radius: 2px;
            }
            &.apt-button-size-xl {
                font-size: 20px;
                padding: 25px 50px;
                border-radius: 6px;
            }
            &.apt-button-size-lg {
                font-size: 18px;
                padding: 20px 40px;
                border-radius: 5px;
            }
            &.apt-button-size-sm {
                padding: 12px 24px;
            }
        }
        .additional-text {
            margin: 10px auto;
            color: #7a7a7a;
        }
    }
}


.apt-pricing-table-template-1 {
    .apt-pricing-header {
        flex-direction: column;
        color: #fff;
        background-color: #54595D;
        // .title {
        //     font-size: 24px;
        //     padding: 0;
        //     margin: 0;
        //     line-height: 1.2;
        //     font-weight: 600;
        // }
        // .decription {
        //     margin: 9px 0px 0px 0px;
        // }
    }
    .apt-button-box {
       flex-direction: column;
    }
}

.apt-pricing-table-template-2 {
    .apt-pricing-header {
        flex-direction: column;
        background-color: #962744;
        color: #fff;
        padding: 20px 0px 0px 0px;
    }
    .apt-pricing-price {
        background-color: rgb(150, 39, 68);
        color: rgb(255, 255, 255);
        padding: 0px 0px 20px;
        .currency {
            font-size: 48px;
        }
    }
    // .apt-center-icon {
    //     svg {
    //         width: 60px;
    //     }
    // }
    .apt-features {
        // padding: 20px 0;
        background-color: #000000;
        .items {
            margin: 0;
            padding: 0;
            li {
                color: #FFFFFF;
                // + li:before {
                //     content: "";
                //     // border-top-style: solid;
                //     border-top-color: #272424;
                //     border-top-width: 2px;
                //     width: 87%;
                // }
            }
        } 
    }
    // .apt-button-box {
    //    background-color: #000000;
    //    flex-direction: column;
    //    .apt-button {
    //         color: #FFFFFF;
    //         background-color: #962744;
    //    }
    // //    .additional-text {
    // //         color: #FFFFFF;
    // //         margin: 30px 0px 10px 0px;
    // //     }
    // }
}

.apt-pricing-table-template-3 {
    border: solid 1px #06DA98;
    border-radius: 15px;
    .apt-pricing-header {
        flex-direction: column;
        // background-color: #962744;
        color: #06DA98;
        padding: 20px 0px 0px 0px;
    }
    .apt-pricing-price {
        // background-color: rgb(150, 39, 68);
        color: #06DA98;
        padding: 0px 0px 20px;
        .currency {
            font-size: 48px;
        }
    }
    .apt-features {
        // padding: 20px 0;
        // background-color: #000000;
        .items {
            // .apt-features-top-icon {
            // }
            li {
                color: #000;
                + li:before {
                    content: "";
                    border-top-style: solid;
                    border-top-color: #272424;
                    border-top-width: 2px;
                    width: 87%;
                }
            }
            // .apt-features-icon {
            //     margin-right: 10px;
            // }
       } 
    }
    .apt-button-box {
    //    background-color: #000000;
       flex-direction: column;
       .apt-button {
            color: #FFFFFF;
            background-color: #962744;
       }
       .additional-text {
            color: #FFFFFF;
            margin: 30px 0px 10px 0px;
        }
    }
}

