.aptfe-pricing-table-container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 32px 48px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.aptfe-pricing-table-container:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.5s;
}
.aptfe-pricing-table-container *, .aptfe-pricing-table-container *:before, .aptfe-pricing-table-container *:after, .aptfe-pricing-table-container p, .aptfe-pricing-table-container h1, .aptfe-pricing-table-container h2 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.aptfe-pricing-table-container {
  color: #000;
  background-color: #F6F5F5;
}
.aptfe-pricing-table-container .aptfe-pricing-container, .aptfe-pricing-table-container .aptfe-pricing-price, .aptfe-pricing-table-container .aptfe-pricing-header, .aptfe-pricing-table-container .aptfe-features, .aptfe-pricing-table-container .aptfe-button-box, .aptfe-pricing-table-container .items, .aptfe-pricing-table-container .aptfe-features .items li, .aptfe-pricing-table-container .items li span, .aptfe-pricing-table-container .aptfe-features-top-icon {
  display: flex;
  flex-wrap: wrap;
}
.aptfe-pricing-table-container .aptfe-pricing-header {
  order: 1;
  flex-direction: column;
}
.aptfe-pricing-table-container .aptfe-pricing-header .title {
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.aptfe-pricing-table-container .aptfe-pricing-header .title::after {
  content: "";
  display: block;
}
.aptfe-pricing-table-container .aptfe-pricing-header .decription {
  text-align: center;
}
.aptfe-pricing-table-container .aptfe-pricing-container {
  order: 2;
  flex-direction: column;
}
.aptfe-pricing-table-container .aptfe-pricing-container .aptfe-pricing-price {
  position: relative;
}
.aptfe-pricing-table-container .aptfe-pricing-container .aptfe-pricing-price::after {
  content: "";
  display: block;
  position: absolute;
  top: 41px;
}
.aptfe-pricing-table-container .aptfe-pricing-container .aptfe-pricing-price {
  font-weight: 800;
}
.aptfe-pricing-table-container .aptfe-pricing-container .aptfe-pricing-price .pricing-additional-text {
  flex: 1 0 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.aptfe-pricing-table-container .aptfe-pricing-container .aptfe-pricing-price .currency, .aptfe-pricing-table-container .aptfe-pricing-container .aptfe-pricing-price .freaction-part {
  font-size: 18px;
  line-height: 1;
  align-self: flex-start;
}
.aptfe-pricing-table-container .aptfe-pricing-container .aptfe-pricing-price .freaction-part {
  margin-left: 3px;
}
.aptfe-pricing-table-container .aptfe-pricing-container .aptfe-pricing-price .price {
  font-size: 65px;
  line-height: 0.8;
}
.aptfe-pricing-table-container .aptfe-pricing-container .aptfe-pricing-price .original-price {
  margin-right: 15px;
  align-self: end;
  text-decoration: line-through;
}
.aptfe-pricing-table-container .aptfe-pricing-container .aptfe-pricing-price .period {
  display: block;
  text-align: center;
  font-weight: 400;
  order: 2;
}
.aptfe-pricing-table-container .aptfe-pricing-container .aptfe-pricing-price .period.period_position_below {
  margin-top: 12px;
}
.aptfe-pricing-table-container .aptfe-center-icon {
  order: 3;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.aptfe-pricing-table-container .aptfe-center-icon svg {
  fill: #54595D;
  width: 20%;
}
.aptfe-pricing-table-container .aptfe-features {
  order: 4;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: column;
}
.aptfe-pricing-table-container .aptfe-features .features-heading-container {
  padding-bottom: 10px;
}
.aptfe-pricing-table-container .aptfe-features .features-heading-container .features-heading {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #fff;
  text-align: left;
  width: 100%;
  position: relative;
}
.aptfe-pricing-table-container .aptfe-features .features-heading-container .features-heading:after {
  content: "";
  padding-top: 8px;
}
.aptfe-pricing-table-container .aptfe-features .items {
  flex-direction: column;
  align-items: initial;
  margin: 0 auto;
  padding: 0;
}
.aptfe-pricing-table-container .aptfe-features .items .aptfe-features-top-icon {
  color: #fff;
  font-size: 61px;
}
.aptfe-pricing-table-container .aptfe-features .items li {
  font-size: 14px;
  list-style: none;
  position: relative;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: 600;
}
.aptfe-pricing-table-container .aptfe-features .items li + li:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
}
.aptfe-pricing-table-container .aptfe-features .items li i {
  color: #54595D;
  font-size: 15px;
}
.aptfe-pricing-table-container .aptfe-features .items li svg {
  fill: #54595D;
  height: 15px;
  width: 15px;
}
.aptfe-pricing-table-container .aptfe-features .items .aptfe-features-icon-left {
  margin-right: 8px;
}
.aptfe-pricing-table-container .aptfe-features .items .aptfe-features-icon-right {
  margin-left: 8px;
}
.aptfe-pricing-table-container .aptfe-features .items .item:has(.aptfe-features-icon-right) {
  flex-direction: row-reverse;
}
.aptfe-pricing-table-container .aptfe-button-box {
  order: 5;
  padding-top: 10px;
  padding-bottom: 10px;
}
.aptfe-pricing-table-container .aptfe-button-box .aptfe-button {
  display: inline-block;
  line-height: 1;
  background-color: #61CE70;
  font-size: 15px;
  padding: 12px 24px;
  border-radius: 3px;
  color: #fff;
  fill: #fff;
  text-align: center;
  transition: all 0.3s;
  text-decoration: none;
}
.aptfe-pricing-table-container .aptfe-button-box .aptfe-button.aptfe-button-size-md {
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 4px;
}
.aptfe-pricing-table-container .aptfe-button-box .aptfe-button.aptfe-button-size-xs {
  font-size: 13px;
  padding: 10px 20px;
  border-radius: 2px;
}
.aptfe-pricing-table-container .aptfe-button-box .aptfe-button.aptfe-button-size-xl {
  font-size: 20px;
  padding: 25px 50px;
  border-radius: 6px;
}
.aptfe-pricing-table-container .aptfe-button-box .aptfe-button.aptfe-button-size-lg {
  font-size: 18px;
  padding: 20px 40px;
  border-radius: 5px;
}
.aptfe-pricing-table-container .aptfe-button-box .aptfe-button.aptfe-button-size-sm {
  padding: 12px 24px;
}
.aptfe-pricing-table-container .aptfe-additional-text {
  order: 6;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.aptfe-pricing-table-container .aptfe-additional-text p {
  font-weight: 600;
  padding: 0px;
  margin: 0;
}
.aptfe-pricing-table-container .ribbon {
  order: 7;
  background: #61ce70;
  color: white;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 30px;
  position: absolute;
  top: 27px;
  text-transform: uppercase;
}
.aptfe-pricing-table-container .ribbon p {
  line-height: 2;
  margin: 0;
  padding: 3px;
}
.aptfe-pricing-table-container .ribbon.ribbon-right-angle {
  right: -82px;
  transform: rotate(45deg);
}
.aptfe-pricing-table-container .ribbon.ribbon-left-angle {
  left: -82px;
  transform: rotate(-45deg);
}
.aptfe-pricing-table-container .ribbon.ribbon-left-vertical {
  left: -62px;
  transform: rotate(-90deg);
  width: 156px;
  top: 46px;
}
.aptfe-pricing-table-container .ribbon.ribbon-right-horizontal {
  right: -62px;
  transform: rotate(90deg);
  width: 156px;
  top: 46px;
}
.aptfe-pricing-table-container .ribbon.ribbon-left-horizontal {
  transform: rotate(0deg);
  width: 103px;
  top: 0px;
  border-radius: 0px 0px 10px 0px;
}
.aptfe-pricing-table-container .ribbon.ribbon-right-vertical {
  right: 0;
  transform: rotate(0deg);
  width: 118px;
  top: 0;
  border-radius: 0px 0px 0px 10px;
}

.aptfe-pricing-table-template-1 {
  border-radius: 10px 10px 10px 10px;
  padding: 0px 0px 0px 0px;
  background-color: #000;
}
.aptfe-pricing-table-template-1 .aptfe-pricing-header {
  flex-direction: column;
  background-color: #774BFF;
  color: #fff;
  padding: 30px 20px 0px 20px;
}
.aptfe-pricing-table-template-1 .aptfe-pricing-header .title {
  color: #FFFFFF;
  font-family: Alata, Sans-serif;
  font-size: 25px;
  font-weight: 700;
}
.aptfe-pricing-table-template-1 .aptfe-pricing-header .title:after {
  border-top-style: solid;
  border-top-color: #ABABAB;
  border-top-width: 1px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.aptfe-pricing-table-template-1 .aptfe-pricing-header .decription {
  color: #FFFFFF;
}
.aptfe-pricing-table-template-1 .aptfe-pricing-container {
  background-color: #774BFF;
  padding: 10px 20px 25px 20px;
}
.aptfe-pricing-table-template-1 .aptfe-pricing-container .aptfe-pricing-price {
  color: #FFFFFF;
  justify-content: center;
}
.aptfe-pricing-table-template-1 .aptfe-pricing-container .aptfe-pricing-price .currency {
  font-size: 34px;
}
.aptfe-pricing-table-template-1 .aptfe-pricing-container .aptfe-pricing-price .price {
  font-size: 41px;
  font-weight: 900;
}
.aptfe-pricing-table-template-1 .aptfe-center-icon {
  padding-top: 20px;
  padding-bottom: 0;
}
.aptfe-pricing-table-template-1 .aptfe-center-icon svg {
  fill: #FFFFFF;
  width: 60px;
}
.aptfe-pricing-table-template-1 .aptfe-features {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.aptfe-pricing-table-template-1 .aptfe-features .items li {
  padding-top: 11px;
  padding-bottom: 11px;
  color: #FFFFFF;
}
.aptfe-pricing-table-template-1 .aptfe-features .items li + li:before {
  content: "";
  border-top-style: solid;
  border-top-color: #272424;
  border-top-width: 2px;
  width: 100%;
}
.aptfe-pricing-table-template-1 .aptfe-features .items li svg {
  fill: #774BFF;
  height: 12px;
  width: 12px;
}
.aptfe-pricing-table-template-1 .aptfe-features .items li i {
  color: #774BFF;
}
.aptfe-pricing-table-template-1 .aptfe-button-box {
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}
.aptfe-pricing-table-template-1 .aptfe-button-box .aptfe-button {
  color: #FFFFFF;
  background-color: #774BFF;
  font-weight: 600;
}
.aptfe-pricing-table-template-1 .aptfe-additional-text {
  text-align: center;
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  color: #FFFFFF;
  font-size: 12px;
}

.aptfe-pricing-table-template-2 {
  border-radius: 10px 10px 10px 10px;
  background-color: #fff;
}
.aptfe-pricing-table-template-2 .aptfe-pricing-header {
  flex-direction: column;
  color: #fff;
  padding-top: 25px;
}
.aptfe-pricing-table-template-2 .aptfe-pricing-header .title {
  font-family: "Alata", Sans-serif;
  font-size: 23px;
  color: #111682;
  font-weight: 700;
}
.aptfe-pricing-table-template-2 .aptfe-pricing-header .title:after {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.aptfe-pricing-table-template-2 .aptfe-pricing-header .decription {
  color: #111682;
}
.aptfe-pricing-table-template-2 .aptfe-pricing-price {
  color: #111682;
  justify-content: center;
  padding: 10px 0px 25px 0px;
}
.aptfe-pricing-table-template-2 .aptfe-pricing-price .currency {
  font-size: 22px;
  align-self: flex-end;
}
.aptfe-pricing-table-template-2 .aptfe-pricing-price .price {
  font-size: 60px;
  font-weight: 900;
}
.aptfe-pricing-table-template-2 .aptfe-center-icon {
  padding-top: 20px;
  padding-bottom: 0;
}
.aptfe-pricing-table-template-2 .aptfe-center-icon svg {
  fill: #111682;
  width: 60px;
}
.aptfe-pricing-table-template-2 .aptfe-features .items li {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #111682;
}
.aptfe-pricing-table-template-2 .aptfe-features .items li svg {
  fill: #75F700;
  height: 12px;
  width: 12px;
}
.aptfe-pricing-table-template-2 .aptfe-features .items li i {
  color: #75F700;
}
.aptfe-pricing-table-template-2 .aptfe-button-box {
  padding-bottom: 30px;
  justify-content: center;
}
.aptfe-pricing-table-template-2 .aptfe-button-box .aptfe-button {
  border: solid 1px #111682;
  color: #111682;
  background-color: initial;
  font-weight: 600;
  padding: 20px 30px;
  border-radius: 8px;
}
.aptfe-pricing-table-template-2 .aptfe-additional-text {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
  color: #111682;
  font-size: 12px;
}
.aptfe-pricing-table-template-2 .ribbon.ribbon-left-vertical {
  border-radius: 0px 0px 0px 10px;
}
.aptfe-pricing-table-template-2 .ribbon.ribbon-left-horizontal {
  left: 0;
  border-radius: 0px 0px 10px 0px;
}
.aptfe-pricing-table-template-2 .ribbon.ribbon-right-horizontal {
  border-radius: 0px 0px 0px 10px;
}
.aptfe-pricing-table-template-2 .ribbon.ribbon-right-vertical {
  border-radius: 0px 0px 10px 0px;
}

.aptfe-pricing-table-template-3 {
  border-radius: 10px 10px 10px 10px;
  padding: 0px;
  background-color: #FFFFFF;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.45s ease-in-out;
}
.aptfe-pricing-table-template-3:hover {
  box-shadow: 0px 0px 20px 0px rgba(244, 1, 1, 0.25);
  transform: translateY(-4px);
}
.aptfe-pricing-table-template-3:hover .aptfe-button-box .aptfe-button {
  color: #FFFFFF;
  transform: translateY(-2px);
}
.aptfe-pricing-table-template-3:hover .aptfe-button-box .aptfe-button::before {
  opacity: 1;
}
.aptfe-pricing-table-template-3 .aptfe-pricing-header {
  flex-direction: column;
  padding: 20px 20px 0px 20px;
}
.aptfe-pricing-table-template-3 .aptfe-pricing-header .title {
  color: #555;
  font-size: 24px;
  font-weight: 900;
  align-items: flex-start;
}
.aptfe-pricing-table-template-3 .aptfe-pricing-header .title:after {
  border-top-style: solid;
  border-top-color: #D0D0D0;
  border-top-width: 1px;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 14px;
}
.aptfe-pricing-table-template-3 .aptfe-pricing-header .decription {
  color: #111682;
}
.aptfe-pricing-table-template-3 .aptfe-pricing-price {
  justify-content: flex-start;
  color: #555;
  padding: 10px 20px 25px 20px;
}
.aptfe-pricing-table-template-3 .aptfe-pricing-price .currency {
  font-size: 23px;
  align-self: flex-end;
}
.aptfe-pricing-table-template-3 .aptfe-pricing-price .price {
  font-size: 30px;
  font-weight: 400;
}
.aptfe-pricing-table-template-3 .aptfe-center-icon {
  padding-top: 20px;
  padding-bottom: 0;
}
.aptfe-pricing-table-template-3 .aptfe-center-icon svg {
  fill: #111682;
  width: 60px;
}
.aptfe-pricing-table-template-3 .aptfe-features {
  padding-left: 20px;
  padding-right: 20px;
}
.aptfe-pricing-table-template-3 .aptfe-features .items {
  width: 100%;
  margin: 0;
}
.aptfe-pricing-table-template-3 .aptfe-features .items li {
  padding-top: 11px;
  padding-bottom: 11px;
  color: #686868;
}
.aptfe-pricing-table-template-3 .aptfe-features .items li + li:before {
  content: "";
  border-top-style: solid;
  border-top-color: #EDEDED;
  border-top-width: 1px;
  width: 100%;
}
.aptfe-pricing-table-template-3 .aptfe-features .items li svg {
  fill: #555;
  height: 12px;
  width: 12px;
}
.aptfe-pricing-table-template-3 .aptfe-features .items li i {
  color: #555;
}
.aptfe-pricing-table-template-3 .aptfe-button-box {
  justify-content: flex-start;
  padding: 20px;
}
.aptfe-pricing-table-template-3 .aptfe-button-box .aptfe-button {
  background-color: #FBDEDE;
  color: #555;
  width: 100%;
  font-weight: 400;
  transition: color 0.4s ease, transform 0.4s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.aptfe-pricing-table-template-3 .aptfe-button-box .aptfe-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(103deg, #6245CF 0%, #C9395D 100%);
  opacity: 0;
  transition: opacity 0.45s ease-in-out;
  z-index: -1;
}
.aptfe-pricing-table-template-3 .aptfe-button-box .aptfe-button:hover {
  color: #FFFFFF;
  transform: translateY(-2px);
}
.aptfe-pricing-table-template-3 .aptfe-button-box .aptfe-button:hover::before {
  opacity: 1;
}
.aptfe-pricing-table-template-3 .aptfe-additional-text {
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #686868;
  font-size: 12px;
}

.aptfe-pricing-table-template-4 {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #176BFF;
  border-radius: 20px 20px 20px 20px;
}
.aptfe-pricing-table-template-4 .aptfe-pricing-header .title {
  color: #0E00FF;
  font-family: "Trebuchet MS", Sans-serif;
  font-weight: 600;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 45px;
}
.aptfe-pricing-table-template-4 .aptfe-pricing-header .decription {
  color: #545151;
  font-size: 16px;
  font-family: "Trebuchet MS", Sans-serif;
  padding-bottom: 20px;
}
.aptfe-pricing-table-template-4 .aptfe-pricing-price {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #545151;
  order: 5;
  justify-content: center;
}
.aptfe-pricing-table-template-4 .aptfe-pricing-price .price {
  font-family: "Roboto", Sans-serif;
  font-size: 53px;
  font-weight: 900;
}
.aptfe-pricing-table-template-4 .aptfe-pricing-price .currency {
  font-size: 34px;
}
.aptfe-pricing-table-template-4 .aptfe-pricing-price .pricing-additional-text {
  padding-bottom: 15px;
  color: #000;
  font-size: 14px;
  text-align: center;
}
.aptfe-pricing-table-template-4 .aptfe-pricing-price .period {
  width: initial;
}
.aptfe-pricing-table-template-4 .aptfe-features .items li {
  padding-top: 8px;
  padding-bottom: 8px;
}
.aptfe-pricing-table-template-4 .aptfe-features .items li svg {
  fill: #0E00FF;
  height: 12px;
  width: 12px;
}
.aptfe-pricing-table-template-4 .aptfe-features .items li i {
  color: #0E00FF;
}
.aptfe-pricing-table-template-4 .aptfe-button-box {
  padding-top: 20px;
  padding-bottom: 20px;
}
.aptfe-pricing-table-template-4 .aptfe-button-box .aptfe-button {
  background-color: #084EC9;
  padding: 20px 24px;
  white-space: nowrap;
  width: 100%;
}
.aptfe-pricing-table-template-4 .aptfe-additional-text {
  padding-top: 40px;
  padding-bottom: 0px;
  font-size: 12px;
  text-align: center;
}
